<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies[0]">
                <td (click)="movieClicked(movie)" style="cursor: pointer;">{{movie.title}}</td>
                <td>
                    <fa name="edit" (click)="movieEdit(movie)" style="cursor: pointer;"></fa> &nbsp;&nbsp;&nbsp;
                    <fa name="trash" style="cursor: pointer;"></fa>
                </td>
            </tr>

        </tbody>
    </table>


</div>