<p>movie-details works!</p>
<div *ngIf=movie.title>
    {{movie.title}} <br> {{movie.description}} {{movie.average_rating}} <br> ({{movie.no_of_ratings}})

    <fa name="star" [ngClass]="{'orange': movie.average_rating>0}"></fa>
    <fa name="star" [ngClass]="{'orange': movie.average_rating>1}"></fa>
    <fa name="star" [ngClass]="{'orange': movie.average_rating>2}"></fa>
    <fa name="star" [ngClass]="{'orange': movie.average_rating>3}"></fa>
    <fa name="star" [ngClass]="{'orange': movie.average_rating>4}"></fa>

    Rate it:
    <fa name="star" *ngFor="let star of [1,2,3,4,5]" (mouseenter)="rateHover(star)" [ngClass]="{'orange': starsHovered>=star}" (mouseleave)="rateHover(0)" (click)="rateClicked(star)"></fa>

</div>